/composer.lock
/vendor
/tests/coverage
/tests/namespace/*
!/tests/namespace/.gitkeep
/tests/klass/*
!/tests/klass/.gitkeep
/tests/examples/*
!/tests/examples/.gitkeep
/tests/temporary/*
!/tests/temporary/.gitkeep
/tests/phpunit.xml
