<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/master/phpunit.xsd"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="bootstrap.php"
>
    <testsuites>
        <testsuite name="tests">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--><const name="TESTWEBSERVER" value="http://localhost"/><-->
        <!--><const name="TESTPINGSERVER" value="http://localhost"/><-->
        <const name="DIFF" value="/usr/bin/diff"/>
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
