<phpunit bootstrap="bootstrap.php" printerClass="\ryunosuke\PHPUnit\Printer\ProgressPrinter">
    <testsuites>
        <testsuite name="tests">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--><const name="TESTWEBSERVER" value="http://httpbin.org"/><-->
        <!--><const name="TESTPINGSERVER" value="http://localhost"/><-->
        <const name="DIFF" value="/usr/bin/diff"/>
    </php>

    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <file>../src/Package/constants.php</file>
        </exclude>
    </coverage>
</phpunit>
